<!DOCTYPE html>
<html>
  <head>
    <title>김빛나 &amp; 한대용</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <%= csrf_meta_tags %>
    <script>
      function fimg(id, mw_callback) {
        var img = document.getElementById(id);
        if(!img.complete) {
          var mw = Math.round(mw_callback(window.innerWidth)), w = parseFloat(img.getAttribute("data-width")), h = parseFloat(img.getAttribute("data-height"));
          img.style.width = mw + "px";
          img.style.height = Math.round(mw / w * h) + "px";
          img.onload = function(){
            this.style.width = "";
            this.style.height = "";
          }
        }
      }
    </script>
  </head>
  <body class="home">
    <div id="main" style="height: 934px;">
      <div id="page-container" data-page-scale="0.9" data-total-pages="4">
        <div class="page page-3" data-page="3" id="page-greeting">
          <div class="col-2">
            <div class="pane">
              <%= image_tag 'greeting_title.png', class: 'smooth', id: 'greeting-title', data: {width: 930, height: 1442} %>
              <script>fimg("greeting-title", function(w){return w * 0.9 - 16;});</script>
            </div>
            <div class="pane">
              <%= image_tag 'greeting_intro.png', class: 'smooth', id: 'greeting-intro', data: {width: 930, height: 1401} %>
              <script>fimg("greeting-intro", function(w){return w * 0.9 - 16;});</script>
            </div>
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="map">
                  <%= image_tag 'menu_map.png', class: 'smooth', id: 'menu-map-3', data: {width: 115, height: 120} %>
                  <script>fimg("menu-map-3", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="photos">
                  <%= image_tag 'menu_photos.png', class: 'smooth', id: 'menu-photos-3', data: {width: 115, height: 120} %>
                  <script>fimg("menu-photos-3", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="board">
                  <%= image_tag 'menu_board.png', class: 'smooth', id: 'menu-board-3', data: {width: 115, height: 120} %>
                  <script>fimg("menu-board-3", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="page page-4" data-page="4" id="page-map">
          <div class="col-2">
            <div class="pane">
              <%= link_to asset_url('map_map.png') do %>
                <%= image_tag 'map_map.png', class: 'smooth', id: 'map-map', data: {width: 930, height: 1615} %>
                <script>fimg("map-map", function(w){return w * 0.9 - 16;});</script>
              <% end %>
              <div><a href="http://m.map.naver.com/map.nhn?lng=127.0168471&lat=37.5894512&dlevel=11&title=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C%20%EC%84%B1%EB%B6%81%EA%B5%AC%20%EB%B3%B4%EB%AC%B8%EB%A1%9C%20168&isShowPolygon=false&rcode=09290115&isDetailAddress=true" id="link-naver-map"><%= image_tag 'map_naver_map_button.png' %></a></div>
            </div>
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="greeting">
                  <%= image_tag 'menu_greeting.png', class: 'smooth', id: 'menu-greeting-4', data: {width: 115, height: 120} %>
                  <script>fimg("menu-greeting-4", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="photos">
                  <%= image_tag 'menu_photos.png', class: 'smooth', id: 'menu-photos-4', data: {width: 115, height: 120} %>
                  <script>fimg("menu-photos-4", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="board">
                  <%= image_tag 'menu_board.png', class: 'smooth', id: 'menu-board-4', data: {width: 115, height: 120} %>
                  <script>fimg("menu-board-4", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="page page-1" data-page="1" id="page-photos">
          <div class="row">
            <div class="col-1">
              <% (1..13).each do |i| %>
                <div class="pane">
                  <div class="photo">
                    <a href='/photos?photo_index=<%= i %>' class="link_photo_detail">
                      <%= image_tag "photos/thumbnail/#{i}.jpg", class: 'smooth', id: "thumbnail-#{i}", data: {width: Photo.thumbnail_size[i-1][0], height: Photo.thumbnail_size[i-1][1]} %>
                      <script>fimg("thumbnail-<%= i %>", function(w){return (w * 0.9 - 16) * 0.5 - 13;});</script>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-1">
              <% (14..26).each do |i| %>
                <div class="pane">
                  <div class="photo">
                    <a href='/photos?photo_index=<%= i %>' class="link_photo_detail">
                      <%= image_tag "photos/thumbnail/#{i}.jpg", class: 'smooth', id: "thumbnail-#{i}", data: {width: Photo.thumbnail_size[i-1][0], height: Photo.thumbnail_size[i-1][1]} %>
                      <script>fimg("thumbnail-<%= i %>", function(w){return (w * 0.9 - 16) * 0.5 - 13;});</script>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-2">
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="greeting">
                  <%= image_tag 'menu_greeting.png', class: 'smooth', id: 'menu-greeting-1', data: {width: 115, height: 120} %>
                  <script>fimg("menu-greeting-1", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="map">
                  <%= image_tag 'menu_map.png', class: 'smooth', id: 'menu-map-1', data: {width: 115, height: 120} %>
                  <script>fimg("menu-map-1", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="board">
                  <%= image_tag 'menu_board.png', class: 'smooth', id: 'menu-board-1', data: {width: 115, height: 120} %>
                  <script>fimg("menu-board-1", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="page page-2" data-page="2" id="page-board">
          <div class="col-2">
            <div class="pane pane-new-comment">
              <div class="pane-item" id="board-title">
                <%= image_tag 'board_title.png', id: 'img-board-title', data: {width: 520, height: 47} %>
                <script>fimg("img-board-title", function(w){return w * 0.9 - 116;});</script>
              </div>
              <%= form_for Comment.new, remote: true do |f| %>
                <div id="textarea-container" class="pane-item">
                  <%= image_tag 'board_field_background.png', id: 'board-field-background', data: {width: 832, height: 570} %>
                  <script>fimg("board-field-background", function(w){return w * 0.9 - 36;});</script>
                  <div>
                    <%= f.text_area :message, maxlength: Settings.max_comment_message_length %>
                  </div>
                </div>
                <a class="link-submit" data-target="submit pane-item">
                  <%= image_tag 'board_submit_button.png', id: 'board-submit-button', data: {width: 832, height: 150} %>
                  <script>fimg("board-submit-button", function(w){return w * 0.9 - 36;});</script>
                </a>
              <% end %>
            </div>
            <div id="comments">
            </div>
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="greeting">
                  <%= image_tag 'menu_greeting.png', class: 'smooth', id: 'menu-greeting-2', data: {width: 115, height: 120} %>
                  <script>fimg("menu-greeting-2", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="map">
                  <%= image_tag 'menu_map.png', class: 'smooth', id: 'menu-map-2', data: {width: 115, height: 120} %>
                  <script>fimg("menu-map-2", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
                <a class="link-swipe" data-target="photos">
                  <%= image_tag 'menu_photos.png', class: 'smooth', id: 'menu-photos-2', data: {width: 115, height: 120} %>
                  <script>fimg("menu-photos-2", function(w){return ((w * 0.9 - 16) - 30) * 0.33 - 40;});</script>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>