<!DOCTYPE html>
<html>
  <head>
    <title>김빛나 &amp; 한대용</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main" data-page-no="1">
      <div id="page-container">
        <div class="page page-1" data-page="1" id="page-greeting">
          <div class="col-2">
            <div class="pane">
              <%= image_tag 'greeting_title.png' %>
            </div>
            <div class="pane">
              <%= image_tag 'greeting_intro.png' %>
            </div>
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="map"><%= image_tag 'menu_map.png' %></a>
                <a class="link-swipe" data-target="photos"><%= image_tag 'menu_photos.png' %></a>
                <a class="link-swipe" data-target="board"><%= image_tag 'menu_board.png' %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="page page-2" data-page="2" id="page-map">
          <div class="col-2">
            <div class="pane">
              <div><%= image_tag 'map_map.png' %></div>
              <div><a id="link-naver-map"><%= image_tag 'map_naver_map_button.png' %></a></div>
            </div>
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="greeting"><%= image_tag 'menu_greeting.png' %></a>
                <a class="link-swipe" data-target="photos"><%= image_tag 'menu_photos.png' %></a>
                <a class="link-swipe" data-target="board"><%= image_tag 'menu_board.png' %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="page page-3" data-page="3" id="page-photos">
          <div class="row">
            <div class="col-1">
              <% (1..13).each do |i| %>
                <div class="pane">
                  <div class="photo">
                    <%= image_tag "photos/thumbnail/#{i}.jpg" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-1">
              <% (14..27).each do |i| %>
                <div class="pane">
                  <div class="photo">
                    <%= image_tag "photos/thumbnail/#{i}.jpg" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-2">
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="greeting"><%= image_tag 'menu_greeting.png' %></a>
                <a class="link-swipe" data-target="map"><%= image_tag 'menu_map.png' %></a>
                <a class="link-swipe" data-target="board"><%= image_tag 'menu_board.png' %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="page page-4" data-page="4" id="page-board">
          <div class="col-2">
            <div class="pane pane-new-comment">
              <div class="pane-item" id="board-title"><%= image_tag 'board_title.png' %></div>
              <%= form_for Comment.new, remote: true do |f| %>
                <div id="textarea-container" class="pane-item">
                  <%= image_tag 'board_field_background.png' %>
                  <div>
                    <%= f.text_area :message, maxlength: Settings.max_comment_message_length %>
                  </div>
                </div>
                <a class="link-submit" data-target="submit pane-item">
                  <%= image_tag 'board_submit_button.png' %>
                </a>
              <% end %>
            </div>
            <div id="comments">
            </div>
            <div class="pane">
              <div class="menu">
                <a class="link-swipe" data-target="greeting"><%= image_tag 'menu_greeting.png' %></a>
                <a class="link-swipe" data-target="map"><%= image_tag 'menu_map.png' %></a>
                <a class="link-swipe" data-target="photos"><%= image_tag 'menu_photos.png' %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>