<!DOCTYPE html>
<html>
  <head>
    <title>김빛나 &amp; 한대용</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <%= csrf_meta_tags %>
  </head>
  <body class="photos">
    <div id="main">
      <%= content_tag :div, id: 'page-container', data: {total_pages: @photos_count} do %>
        <% (1..5).each do |page| %>
          <% photo_index = @photo_index + page - 3 %>
          <% photo_index += @photos_count if photo_index < 1 %>
          <%= content_tag :div, class: "page page-#{page}", data: {page: page, photo_index: photo_index} do %>
            <%= image_tag "photos/origin/#{photo_index}.jpg", class: 'photo without-margin' %>
          <% end %>
        <% end %>
        <% (6..@photos_count).each do |page| %>
          <% photo_index = @photo_index + page - 3 %>
          <% photo_index -= @photos_count if photo_index > @photos_count %>
          <%= content_tag :div, class: "page page-#{page}", data: {page: page, photo_index: photo_index} do %>
            <%= content_tag :image, nil, class: 'photo without-url without-margin', data: {url: image_url("photos/origin/#{photo_index}.jpg")} %>
          <% end %>
        <% end %>
      <% end %>
      <div id="photo-close">
        닫기
      </div>
      <div id="photo-index">
        <span id="photo-index-value"><%= @photo_index %></span> / <%= @photos_count %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <script>
    app.photo.index();
    </script>
  </body>
</html>